vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Oct 2010 21:12:19 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|07 Oct 2010 21:12:19 -0000
vti_filesize:IR|2001
vti_cachedlinkinfo:VX|S|../../img/tableftB.gif S|../../img/tabrightB.gif S|../../img/tableftB2.gif S|../../img/tabrightB2.gif
vti_cachedsvcrellinks:VX|FSUS|img/tableftB.gif FSUS|img/tabrightB.gif FSUS|img/tableftB2.gif FSUS|img/tabrightB2.gif
vti_lineageid:SR|{D49E6F1B-2563-41A6-9C96-15B1EAB91B6D}
vti_backlinkinfo:VX|working.htm
