vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Oct 2010 02:08:31 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{2C3041F9-22C7-4E61-92DC-5B496C9786AF}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|08 Oct 2010 02:08:31 -0000
vti_filesize:IR|12519
vti_cachedlinkinfo:VX|S|/img/checkit.gif S|/img/checkit.gif S|/img/left.jpg S|/img/right.jpg S|/img/shad_bottom.png S|/img/shad_bottom.png S|img/b1.jpg S|/img/gray.jpg S|/img/gray.jpg S|/img/gray.jpg S|/img/gray.jpg S|/img/gray.jpg S|/img/gray.jpg S|/img/gray.jpg S|/img/gray.jpg S|/img/gray.jpg S|img/gray.jpg S|/img/FilledStar.png S|/img/EmptyStar.png S|/img/SavedStar.png
vti_cachedsvcrellinks:VX|NSUS|img/checkit.gif NSUS|img/checkit.gif NSUS|img/left.jpg NSUS|img/right.jpg FSUS|img/shad_bottom.png FSUS|img/shad_bottom.png NSUS|App_Themes/group/img/b1.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|img/gray.jpg NSUS|App_Themes/group/img/gray.jpg NSUS|img/FilledStar.png NSUS|img/EmptyStar.png FSUS|img/SavedStar.png
