vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Oct 2010 02:08:31 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{6188A03F-5F8C-43ED-8BE2-71C2B3A370A1}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|08 Oct 2010 02:08:31 -0000
vti_filesize:IR|2001
vti_cachedlinkinfo:VX|S|../../img/tableftB.gif S|../../img/tabrightB.gif S|../../img/tableftB2.gif S|../../img/tabrightB2.gif
vti_cachedsvcrellinks:VX|FSUS|img/tableftB.gif FSUS|img/tabrightB.gif FSUS|img/tableftB2.gif FSUS|img/tabrightB2.gif
